*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: var(--primary-font);
  color: var(--dark);
  min-height: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--dark);
}

li {
  list-style: none;
}

.content {
  padding-bottom: 150px;
}

.container {
  max-width: 1030px;
  margin: 0 auto;
}

.line {
  border: 1px solid var(--chinese-white);
}

.vertical-line {
  border: 1px solid var(--dark);
  height: 20px;
}
