:root {
  --primary: #ff6464;
  --secondary: #00a8cc;
  --dark: #21243d;
  --light: #8695a4;
  --white: #fff;
  --alice-blue: #edf7fa;
  --chinese-white: #e0e0e0;
  --space-cadet: #142850;
  --cool-grey: #8695a4;

  --average-transition: all 0.3s ease-in-out;

  --primary-font: "Heebo";
}
